@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');

/* ___________________________________ */

:root {
	font-size: 20px;
}

#viewport {
	font-family: montserrat, sans-serif;
}

/* ______________________________________ */

#main-nav {
	min-height: 40px;
}

#main-nav input {
	border-radius: 20px;
}

#main-nav button {
	background-color: transparent;
	border: none;
}
/* ____________________________________________ */

#loading {
	background-color: rgba(32, 32, 32, 0.884);
	color: white;
	font-family: arial;
	z-index: 1;
}

#loading-msg {
	letter-spacing: 0.2rem;
}

/* _______________________________________________ */

li {
	display: inline;
}

.bg-dark-gray {
	background-color: rgb(26, 26, 26);
}
.bg-light-yellow {
	background-color: rgb(252, 249, 216);
}
.bg-light-cherry {
	background-color: rgb(255, 169, 169);
}

.bg-dark-red {
	background-color: rgb(107, 2, 2);
}

.bg-dark-blue {
	background-color: rgb(52, 53, 70);
}

/* ________________________________________________ */

#index {
	max-width: 576px;
}

/* _______________________________________________ */

#random-pokemon {
	height: 60px;
	width: 60px;
	cursor: pointer;
	background-size: contain;
	image-rendering: optimizeQuality;
}

#pokeball {
	height: 50px;
	opacity: 0.3;
}

#shuffle-icon {
	font-size: 37px;
}

#random-pokemon i {
	background: transparent;
}

/* _______________________________________________ */

.poke-card {
	margin: 4px;
	padding: 2px;
	border: 1px solid rgb(212, 212, 212);
	border-radius: 5px;
	background-color: #ff00002c;
	cursor: pointer;
	overflow: hidden;
}

.poke-card span {
	font-size: 14px;
	pointer-events: none;
	overflow: hidden;
	white-space: nowrap;
}

.poke-card:hover {
	box-shadow: 0 0 30px -3px rgba(37, 0, 201, 0.226);
	transform: scale(1.05);
}

/* ____________________________________________________ */

#pokemon-info {
	background-color: rgba(220, 20, 60, 0.897);
	width: 50%;
	min-height: 240px;
	z-index: 1;
}

.top-bar {
	background-color: darkslategrey;
	font-family: 'montserrat', sans-serif;
	font-weight: 300;
	color: white;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.top-bar i {
	cursor: pointer;
}

#type {
	color: rgb(176, 177, 221);
}

#main-pic {
	min-width: 40px;
	max-width: 400px;
	width: 100%;
	image-rendering: optimizeQuality;
}

#flavor-text {
	background-color: rgba(250, 176, 176, 0.123);
	color: rgb(7, 58, 58);
	font-family: 'Trebuchet MS', serif;
}

.info-field h6 {
	color: rgba(35, 58, 58, 0.877);
	font-weight: 600;
}

.info-field p {
	color: rgba(255, 255, 255, 0.692);
	font-weight: 100;
}

.linked-text {
	color: rgb(255, 254, 168) !important;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	cursor: pointer;
}

.linked-text:hover {
	color: rgb(255, 251, 0) !important;
}

/* ____________________________________________________ */

[src='img/pokeapi.png'] {
	max-height: 40px;
}

/* ________________________________________________ */

@media all and (max-width: 900px) {
	:root {
		font-size: 15px;
	}

	#pokemon-info {
		width: 80%;
	}
}

@media all and (max-width: 576px) {
	#pokemon-info {
		width: 100%;
	}
}
