@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');

/* ___________________________________ */

#viewport {
	min-width: 324px;
	font-family: montserrat, sans-serif;
}

/* ______________________________________ */

#main-nav {
	min-height: 40px;
}

#main-nav input {
	border-radius: 20px;
}

#main-nav button {
	background-color: transparent;
	border: none;
}
/* ____________________________________________ */

li {
	display: inline;
}

.bg-dark-gray {
	background-color: rgb(26, 26, 26);
}
.bg-light-yellow {
	background-color: rgb(252, 249, 216);
}
.bg-light-cherry {
	background-color: rgb(255, 169, 169);
}

.bg-dark-red {
	background-color: rgb(107, 2, 2);
}

.bg-dark-blue {
	background-color: rgb(52, 53, 70);
}

/* ________________________________________________ */

#random-pokemon {
	height: 60px;
	width: 60px;
	cursor: pointer;
	background-size: contain;
	image-rendering: optimizeQuality;
}

#pokeball {
	height: 50px;
	opacity: 0.3;
}

#shuffle-icon {
	font-size: 2.6rem;
}

#random-pokemon i {
	background: transparent;
}

/* _______________________________________________ */

.poke-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 10px;
	border: 1px solid rgb(212, 212, 212);
	border-radius: 5px;
	background-color: #ff00002c;
	cursor: pointer;
}

.poke-card img {
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.863);
	background-color: rgba(255, 255, 255, 0.13);
	height: auto;
	image-rendering: pixelated;
	pointer-events: none;
}

.poke-card span {
	font-size: 14px;
	pointer-events: none;
}

.poke-card:hover {
	box-shadow: 0 0 30px -3px rgba(37, 0, 201, 0.226);
	transform: scale(1.05);
}

/* ____________________________________________________ */

#pokemon-info {
	background-color: rgba(220, 20, 60, 0.897);
	width: 80vw;
	max-width: 765px;
	min-height: 240px;
	z-index: 1;
}

.top-bar {
	background-color: darkslategrey;
	font-family: 'montserrat', sans-serif;
	font-weight: 300;
	color: white;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.top-bar i {
	cursor: pointer;
}

#type {
	color: rgb(176, 177, 221);
}

#main-pic {
	min-width: 40vw;
	image-rendering: optimizeQuality;
}

/* ____________________________________________________ */

[src='img/pokeapi.png'] {
	max-height: 40px;
}

/* ________________________________________________ */

@media all and (max-width: 576px) and (max-height: 800px) {
	:root {
		font-size: 13px;
	}
	.poke-card {
		margin: 3px;
		padding: 3px;
	}

	#pokemon-info {
		width: 90%;
	}
}
